@charset "utf-8";


a.n2:link { color:#3b3b3b; text-decoration:none; font-size:12px;  }
a.n2:visited{  color:#3b3b3b; text-decoration:none; font-size:12px; }
a.n2:hover{font-size:12px;text-decoration:underline;color:#3b3b3b;}
a.n2:active{ color:#3b3b3b; font-size:12px;text-decoration:underline; }